
/* Tipografía [font-family: 'Josefin Sans', sans-serif] */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;700&display=swap');

/* reseteo */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

/* header - nav  */
.header {
    min-height: 20vh;
    width: 100vw;
    padding: 10px;
    margin-top: 0;
    position: relative;
}

.header-nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 0; 
}

.active {
    font-weight: 600; 
}

.header-top{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header-logo {
    width: 50%; 
}

.navbar-brand {
    display: flex;
    justify-content: center;
    width: 100%; 
}
            
.logo {
    width: 500px;
    margin: auto; 
}

.ver-carrito{
    font-size: 25px;
    cursor: pointer;
}

/* banner  */
.banner{
    min-height: 100vh;
    width: 100vw;
    background-image: url("https://res.cloudinary.com/drb5udcck/image/upload/v1693369672/bannerImg_mmg5we.avif");
    background-size: cover;
    background-position: center;
    display: table;
    background-attachment: fixed;
}

.banner-container{
text-align: center;
padding: 15% 0;
}

.banner-title{
    font-size: 62px;
    font-weight: 800;
    color: #d4d5d4;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    text-transform: capitalize; 
}
    
.banner-subtitle{
    font-size: 35px;
    font-weight: 500;
    color: #2c2c2c;
    text-shadow: 1px 1px 3px rgb(0, 0, 0, 0.2);
}

/* galería de products */
.shop-products{
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 1rem;
margin: 2rem;
}

.product-card{
margin: 1rem;
transform: 1s;
}

.product-details{
    background-color: #f8f7f2;
    color: #33393c ;
    text-transform: uppercase;
    padding: .7rem;
    padding-top: 0;
    padding-bottom: 1.5rem;
    font-weight: 200;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .10rem;
}

.product-title{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.product-image{
height: 250px;
width: 100%;
height: 80%;
border-radius: 1rem 1rem 0 0;
}

.price{
    color: #51514f;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 0
}

.add-to-cart{
    width: 100%;
    border: 0;
    background-color: #bebdbb;
    color: #33393c;
    font-weight: 600;
    padding-top: .5rem;
    padding-bottom: .5rem;
    text-align: center;
    text-transform: uppercase;
    border-radius: 0 0 1rem 1rem;
    cursor: pointer;
}

.add-to-cart:hover{
    background-color:#33393c ;
    color: #bebdbb;
}


/* mi carrito (modal)  */
.ver-mi-carrito{
    width: 80%;
    margin: 0 10%;
    max-height: 88vh;
    color: #51514f;
    background-color:  #bebdbb;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 12vh;
    scrollbar-color: none;
    border-radius: 1rem ;
}

.ver-mi-carrito::-webkit-scrollbar {
    display: none;
}

.miCarrito-Header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    padding-left: 90px;
    padding-right: 50px;
    background-color: #bebdbb;
    color: #51514f;
    width: 100%;
}

.miCarrito-title{
    justify-self: start;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
}

.miCarrito-button{
    cursor: pointer;
    font-size: 25px;
    font-weight: 700;

}

.miCarrito-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 20px;
}

.miCarrito-content h3{
    justify-items: left;
    text-transform: uppercase;
    font-size: 16px;
    text-align: left;

}

.miCarrito-content p{
    justify-items: left;
    font-size: 16px;
    text-align: left;
}

.ver-mi-carrito div img{
    height: 120px;
    width: 120px;
    border-radius: .5rem ;
}

.total-purchase{
    width: 100%;
    font-size: 25px;
    font-weight: 700;
    padding: 20px;
    text-align: right;
    padding-top: 20px;
    padding-right: 90px;
    color: #393937;

}

button{
    cursor: pointer;
}
